* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #fff; /* Fondo blanco */
    min-height: 100vh;
    color: #000; /* Texto negro */
}

.encabezado {
    background-color: #ff0101; /* Fondo rojo del encabezado */
    display: flex;
    align-items: center;
    padding: 15px 140px;
    border-bottom: 2px solid #333; /* Línea gris oscuro */
}
.logo {
    width: 150px;    /* Ajusta este valor según el tamaño deseado */
    height: auto;   /* Esto mantiene la proporción original */
}

.encabezado h1 {
    font-size: 60px;
    color: #fff; /* Texto blanco */
    flex: 1;
    text-align: center;
}

.form-container {
    background-color: #fff;
    width: 400px;
    margin: 60px auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 8px #000; /* Sombra negra */
}

.form-container h2 {
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f80000; /* Botón rojo */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Gris oscuro al pasar el mouse */
}

p {
    text-align: center;
    margin-top: 10px;
    color: #000;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}